<header class="header">
    <div class="header__container page__container">
        <a href="#" class="header__logo-wrapper">
            <img src="images/new_logo/Jimjoom_Logo__no_bg_resized_1.png" alt="Jim Joom Logo" class="header__logo-image">
            <span class="header__logo-text">Jim Joom</span>
        </a>
        <nav class="header__nav">
            <a href="/#about" class="header__link">About</a>
            <a href="/#menu" class="header__link">Menu</a>
            <a href="/#testimonials" class="header__link">Testimonials</a>
            <a href="/#contact" class="header__link">Contact</a>
        </nav>
        <button class="header__burger" aria-label="Menu">
            <span></span>
        </button>
    </div>
</header> 