<header class="header">
    <div class="header__container page__container">
        <a href="index.html" class="header__logo-wrapper">
            <img src="images/logo/Jimjoom_Logo__no_bg_resized_1.svg" alt="Issaan Jim Joom Logo" class="header__logo-image">
            <span class="header__logo-text">Issaan Jim Joom</span>
        </a>
        <nav class="header__nav">
            <a href="index.html#about" class="header__link">About</a>
            <a href="index.html#menu" class="header__link">Menu</a>
            <a href="index.html#testimonials" class="header__link">Testimonials</a>
            <a href="index.html#contact" class="header__link">Contact</a>
        </nav>
        <button class="header__burger" aria-label="Menu">
            <span></span>
        </button>
    </div>
</header> 